@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #9f62f2;
  --color-secondary: #362920;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

* {
  font-family: "Inter", sans-serif;
}

.gradient-text {
  @apply bg-linear-to-r from-[#632ee3] to-[#9f62f2] bg-clip-text text-transparent;
}

.btn-primary {
  @apply bg-linear-to-r from-[#632EE3] to-[#9F62F2] border-0;
}

.active {
  @apply text-primary font-semibold;
}

.shadow-glow {
  @apply shadow-[0_0_15px_2px_rgba(71,37,244,0.6)];
}

.glass-blur {
  @apply bg-white/30 backdrop-blur-md border border-white/15 shadow-[0_8px_32px_0_rgba(31,38,135,0.1)];
}

.glass-blur-dark {
  @apply bg-[#19162e]/25 border border-white/10 shadow-[0_8px_32px_0_rgba(71,37,244,0.2)];
}

.gradient-bg {
  background-color: #f6f5f8;
  background-image: radial-gradient(
      at 20% 10%,
      rgba(175, 71, 235, 0.3) 0px,
      transparent 50%
    ),
    radial-gradient(at 80% 10%, rgba(117, 240, 240, 0.3) 0px, transparent 50%),
    radial-gradient(at 20% 80%, rgba(240, 117, 158, 0.3) 0px, transparent 50%),
    radial-gradient(at 80% 80%, rgba(117, 179, 240, 0.3) 0px, transparent 50%);
}

.gradient-bg-dark {
  background-color: #131022;
  background-image: radial-gradient(
      at 20% 10%,
      hsla(278, 80%, 40%, 0.3) 0px,
      transparent 50%
    ),
    radial-gradient(at 80% 10%, rgba(20, 184, 184, 0.3) 0px, transparent 50%),
    radial-gradient(at 20% 80%, rgba(230, 25, 93, 0.3) 0px, transparent 50%),
    radial-gradient(at 80% 80%, rgba(25, 128, 230, 0.3) 0px, transparent 50%);
}
